body {
    background-color: #57441E;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #967635;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 35px;
    width: 100%;
    color: #E6B551;
    text-align: center;
    letter-spacing: 1px;
}

.container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: auto;
    border: 2px solid #E6B551;
    background-color: #967635;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    color:#E6B551;
}

button {
    background-color:#967635;
    border: 2px solid #E6B551;
    color:#E6B551;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color:#57441E;
    opacity: 0.5;
    cursor: default;
}
img{
    height: 100px;
    width: auto;
    margin-top: 20px;
}